:root {
  --color-white: #ffffff;
  --color-white-soft: #f8f8f8;
  --color-white-mute: #f2f2f2;

  --color-black: #181818;
  --color-black-soft: #222222;
  --color-black-mute: #282828;

  --color-indigo: #2c3e50;

  --color-divider-light-1: rgba(60, 60, 60, 0.29);
  --color-divider-light-2: rgba(60, 60, 60, 0.12);
  --color-divider-dark-1: rgba(84, 84, 84, 0.65);
  --color-divider-dark-2: rgba(84, 84, 84, 0.48);

  --color-text-light-1: var(--color-indigo);
  --color-text-light-2: rgba(60, 60, 60, 0.66);
  --color-text-dark-1: var(--color-white);
  --color-text-dark-2: rgba(235, 235, 235, 0.64);

  --color-primary: hsla(280, 41%, 41%, 0.455);
  --color-secondary: hsla(280, 20%, 76%, 0.455);
}

:root {
  --color-background: var(--color-white);
  --color-background-soft: var(--color-white-soft);
  --color-background-mute: var(--color-white-mute);
  --color-background-primary: var(--color-primary);
  --color-background-secondary: var(--color-secondary);

  --color-border: var(--color-divider-light-2);
  --color-border-hover: var(--color-divider-light-1);

  --color-heading: var(--color-text-light-1);
  --color-text: var(--color-text-light-1);
  --color-hover: var(--color-secondary);

  --section-gap: 160px;
  --color-button-unselect: var(--color-text-light-2);
  --color-button-select: var(--color-primary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--color-text);
  background: var(--color-background-soft);
  font-family: sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  place-items: center;
}

#app {
  display: flex;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
